* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

.click_box {
  margin-top: 200px;
  display: flex;
  justify-content: center;
}

.color_button {
  height: 100px;
  width: 100px;
  background-color: darkseagreen;
  margin-left: 20px;
  border-radius: 5px;
  border-color: darkgray;
}

.timer {
    display: flex;
    justify-content: space-evenly;
}

.value {
  font-size: 100px;
  font-family: monospace;
}

.label {
  display: flex;
  justify-content: space-evenly;
  font-size: 30px;
  font-family: fantasy;
}